/* Cascading Style Sheets (CSS) */
/* CLASSES */
.t1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color:rgb(7, 7, 241);
    padding: 5px;
    background-color:#f1e1cb ;
}
.texto{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color:rgb(111, 49, 4);
    padding: 1px 5px 1px 5px; /* topo direita embaixo esquerda */
    background-color: #a5b8eb;
}
.border{
    border: 5px solid #f00;
    padding: 1px;
}
