/* Cascading Style Sheets (CSS) */
/* CLASSES */
.t1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color:rgb(7, 7, 241);
    padding: 5px;
}
.texto{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color:rgb(111, 49, 4);
    padding: 5px;
}
.img-ncenter,
.img-center{
 height: 400px;
 width: 400px;
 background-image: url("img/ponte.jpg");
}
.img-center{
    background-position: center;
    background-size: cover;
}

/* Largura e Altura */
.width-height{
    width: 100px;  /* Largura */
    height: 50px; /* Altura */
    background-color: rgb(165, 184, 236); /* Cor de Fundo */
}
.width-height2{
    width: 200px;  /* Largura */
    height: 100px; /* Altura */
    background-color: rgb(241, 225, 203); /* Cor de Fundo */
}
.elemento-spadding{ /* Elemento sem padding */
    background-color: rgb(241, 225, 203); /* Cor de Fundo */
}
.elemento-padding{
    padding-left: 10px;
    background-color: rgb(165, 184, 236); /* Cor de Fundo */
}
.padding-geral{
    padding: 20px;
    background-color: rgb(165, 184, 236); /* Cor de Fundo */
}
.padding-geral2{
    padding: 10px 20px 30px 40px;
    background-color: rgb(241, 225, 203); /* Cor de Fundo */
}
.padding-geral3{
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: rgb(165, 184, 236); /* Cor de Fundo */
    /* Espaçamento entre linhas (uma vez o tamanho da linha line-height: 1.0;)
       Também podemos especificar valores em unidades (line-height: 12px;)
       ou percentual (line-height: 150%;) */
    line-height: 1.0; 
}
.whitout-border-box{
    padding: 50px;
    width: 400px;
    background-color:#f1e1cb; /* Cor de Fundo */
    color: #4949e7;
}
.border-box{
    padding: 50px;
    width: 400px;
    background-color:#f1ffcb; /* Cor de Fundo */
    color: #0707f1;
    box-sizing: border-box;
}