/* Cascading Style Sheets (CSS) */
/* CLASSES */
.p-verde{
    background-color: beige;
    color: green;
    padding: 5px;
}
.p-verde-dois{ /* RGB */
    background-color: beige;
    color: rgb(5, 50, 5);
    padding: 5px;
}
.p-verde-dois-a{ /* RGBA */
    background-color: beige;
    color: rgb(5, 50, 5, 0.5);
    padding: 5px;
}
.p-fundo-a-o{ /* PARÁGRAFO FUNDO AZUL OPACO */
    background-color: blue;
    opacity: 0.5;
    color:white;
    padding: 5px;
}
.p-texto-a-o{ /* PARÁGRAFO TEXTO AZUL OPACO */
    background-color: beige;
    color:rgba(0, 0, 255,0.5);
    padding: 5px;
}
.p-imagem{
    background-image: url("img/fundo.JPG");
    color:white;
    padding: 5px;
}
.hex{
    background-color: beige;
    color: #0d5fe3;
    padding: 5px;
}
.hex-simples{
    background-color: beige;
    color: #339;
    padding: 5px;
}
.hsl-1{
    background-color: beige;
    color: hsl(190,35%,50%);
    padding: 5px;
}
.hsl-2{
    background-color: beige;
    color: hsl(250,45%,30%);
    padding: 5px;
}
